@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="text-center">
    <h1 class="display-4">Welcome To Task Manager!</h1>
    <p>Organize your tasks efficiently using Covey’s four quadrants.</p>

</div>
